<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Guest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>Add Guest</h1>
		<form role="form">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" placeholder="Enter name">
			</div>
			<div class="form-group">
				<label for="contribution">Contribution:</label>
				<input type="text" class="form-control" id="contribution" placeholder="Enter contribution">
			</div>
			<div class="form-group">
				<label for="comment">Comment:</label>
				<textarea class="form-control" rows="3" id="comment" placeholder="Enter comment"></textarea>
			</div>
			<button type="submit" class="btn btn-default">Add Guest</button>
			<button type="submit" class="btn btn-default">Edit Guest</button>
		</form>
	</div>
</body>
</html>
