<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
<div class="container">
	<h1>Event detail</h1>
		<div class="row">
			<div class="col-md-12">Name : {{event.name}}</div>
		</div>			
		<div class="row">
			<div class="col-md-12">Description: {{event.description}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">Time: {{event.begin | date:"dd.MM.yy HH:mm"}} - {{event.end | date:"dd.MM.yy HH:mm"}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">Target Group: {{event.targetGroup}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">Contribution description: {{event.contributionsDescription}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">Location:
					<i>{{event.location.name}}</i><br />
					{{event.location.street}}<br />
					{{event.location.plz}} {{event.location.city}}</div>
		</div>
		<div class="row">
			<div class="col-md-12">Guests: {{ event.guests.length }}</div>
		</div>
		<a href="#/events/{{event.id}}/add" role="button" class="btn btn-default">Add Guest</a>
		<a href="#/events/{{event.id}}/guests" role="button" class="btn btn-default">Show Guests</a>
		<a href="#/events" role="button" class="btn btn-default">Back</a>
	</div>
</div>

</body>
</html>